landingzones/
rover
bin/
.terraform*
*.tfstate
*.tfplan

# Config file might have secrets
.rover.yaml

# a cobra command for testing
test.go

# personal symphony.yaml file
symphony.yaml

# Goreleaser
dist/

# Local dev, configs etc
local/
.github/.secrets